@config "../tailwind.config.mjs";
@import "tailwindcss";

:root {
  --font-league: "League Spartan", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
}
